JW/Project_DL/models/snake_model.pth
JW/Project_DL/Snake Images/exams/11.jpg
JW/Project_DL/Snake Images/exams/12.jpg
JW/Project_DL/Snake Images/exams/21.jpg
JW/Project_DL/Snake Images/exams/22.jpg
JW/Project_DL/Snake Images/exams/23.jpg
